.video__footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 80;
  padding: 10px 2%;
}
.video__footer .video__footer_username {
  font-size: 1.1rem;
  color: #fff;
  user-select: none;
  font-weight: 500;
}
.video__caption {
  width: 100%;
}
.video__caption p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
  word-spacing: 2px;
}
.video__footer .songinfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 10px; */
  user-select: none;
  pointer-events: none;
}
.video__footer .songname {
  display: flex;
  gap: 7px;
  align-items: center;
}
.songname .musicIcon {
  font-size: 1rem;
  color: #fff;
}
.songname > span {
  padding: 0 10px;
  width: 95%;
  overflow: hidden;
}
.songname > span > p {
  color: rgba(255, 255, 255, 0.7);
  animation: somgNameSilder 6s linear infinite;
}

@keyframes somgNameSilder {
  0% {
    transform: translateX(300px);
  }

  100% {
    transform: translateX(-500px);
  }
}

.songinfo .albumIcon {
  font-size: 2.2rem;
  filter: invert(1);
  width: 30px;
  height: 30px;
  animation: roateDisk 2s linear infinite;
}

@keyframes roateDisk {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
